container_commands:
  01_download_file:
    command: |
      if aws s3 ls s3://monolit-db-deploybucket/monolit.db; then
        sudo aws s3 cp s3://monolit-db-deploybucket/monolit.db /var/app/current/monolit.db
      else
        echo "Permission check failed."
        aws sts get-caller-identity
      fi