container_commands:
  s3_download_db_file:
    command: |
      if aws s3 ls s3://monolit-db-deploybucket/monolit.db; then
        sudo aws s3 cp s3://monolit-db-deploybucket/monolit.db /var/app/current/monolit.db; then
        echo "File downloaded."
      else
        echo "Permission check failed."
        aws sts get-caller-identity
      fi